<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="./styles/main.css">
    <title>Document</title>
</head>
<body>
    <%- include('header'); -%>
    <main>
        <div class="barMenu">
            <ul class="navigation">
                <li class="author"><a href="/admin">Створити автора</a></li>
                <li class="article">Створити сттатю</li>
                <li class="articlelist"><a href="/user">Переглянути збережене</li></a>
            </ul>
        </div>
        <div class="mainPage">
            <button class="prevBtn">Попередня</button>
            <button class="nextBtn">Настпуна</button>
            <div class="root"></div>
        </div>
    </main>
    <script src="./js/userscript.js"></script>
</body>
</html>